build:
  type: text
  content: |-
    #!/bin/sh

    # make all
    # docker build
deploy:
  type: text
  content: |+
    #/bin/sh
    <<'###'
    Sample Deploy Instructions

    HELM_OPTS="--set clusterIP=${ROOST_CLUSTER_IP},tag=${ROOST_NAMESPACE},namespace=${ROOST_NAMESPACE}"

    helm install <helm-folder> -n <ns> $HELM_OPTS

    kubectl apply -f <file>.yaml
    ###

test: []
uninstall:
  type: text
  content: |+
    #!/bin/sh

pulumi_content: |-
  #!/bin/sh
  pulumi deploy
  aman
pulumi_git_path: ecserver/test
pulumi_uninstall: |-
  #!/bin/sh
  pulumi destroy
  tripathi
CDK_Content: |-
  #!/bin/sh

  cdk deploy
  aman
CDK_Git_path: ecserver
CDK_Uninstall: |-
  #!/bin/sh

  cdk destroy
  tripathi
lastUpdatedBy: Aman Tripathi
lastUpdatedOn: 2023-01-08T13:38:21.657Z
