build:
  type: text
  content: |-
    #!/bin/sh

    # make all
    # docker build
deploy:
  type: text
  content: |+
    #/bin/sh
    <<'###'
    Sample Deploy Instructions

    HELM_OPTS="--set clusterIP=${ROOST_CLUSTER_IP},tag=${ROOST_NAMESPACE},namespace=${ROOST_NAMESPACE}"

    helm install <helm-folder> -n <ns> $HELM_OPTS

    kubectl apply -f <file>.yaml
    ###

test:
  - name: aman
    configType: artillery
    configPath: amantripathi01/ecserver/
uninstall:
  type: text
  content: |+
    #!/bin/sh

pulumi_content: |-
  #!/bin/sh
  pulumi deploy
  aman
pulumi_git_path: ecserver/test
pulumi_uninstall: |-
  #!/bin/sh
  pulumi destroy
  tripathi
TF_Content: |-
  #!/bin/sh

  terraform init
  terraform apply --auto-approve
TF_Git_path: ''
TF_Uninstall: |-
  #!/bin/sh

  terraform destroy
lastUpdatedBy: Aman Tripathi
lastUpdatedOn: 2023-03-08T06:54:28.563Z
